body{
	font-family: sans-serif;
}
.Body{
	background-color: #ffcc66;
    padding-bottom: 100px;
    padding-left: 10px;
    border: 2.5px solid black;
}
h2{
	text-align: center;
}
footer{
	padding-top: 30px;
	font-size: 10px;
}
.GmailSprite{
	display: inline-block;
	text-indent: -9999px;
	background: url('images/SocialMediaSprites.png') no-repeat -49px -173px;
	width: 33px;
	height: 33px;
}
.GmailSprite:hover{
	background-position: -49px -94px;
}
.GmailSprite:active{
	background-position: -48px -13px;
}
.FacebookSprite{
	display: inline-block;
	text-indent: -9999px;
	background: url('images/SocialMediaSprites.png') no-repeat -277px -173px;
	width: 32px;
	height: 33px;
}
.FacebookSprite:hover{
	background-position: -277px -94px;
}
.FacebookSprite:active{
	background-position: -277px -14px;
}
.TwitterSprite{
	display: inline-block;
	background: url('images/SocialMediaSprites.png') no-repeat -506px -175px;
	text-indent: -9999px;
	width: 32px;
	height: 33px;
}
.TwitterSprite:hover{
	background-position: -505px -98px;
}
.TwitterSprite:active{
	background-position: -504px -15px;
}